body{
    background-color: gainsboro;
    font-family: monospace;
    font-size: x-large;
}

#texto-1{
    color:red;
    background-color: rgb(164, 227, 229);
    border: 2px solid black;
    padding: 5px;
}

#texto-2{
    color: blue;
    background-color: rgb(255, 160, 160);
    border: 4px dotted black;
    padding: 7px;
}

#texto-3{
    color:yellow;
    background-color: rgb(69, 69, 69);
    border: 10px outset black;
    padding: 3px;
}